.name-title{
    font-family: fantasy;
}
.stright-line {
    background: #F85023;
    
    height: 5px !important;
    width: 100%;
}
.stright-line-end{
    background-color: lightslategrey;
    height: 3px !important;
    width: 50px;
}
.about-img{
    object-fit: cover;
    height: 400px;
    width: 400px;
    border: 3px solid #F5ABAC;
    padding: 2px;
    border-radius: 8px;
   
}
.project-card{
    transition: .4s;
}
.project-card:hover{
    transform: scale(1.1);
}